<div class="jumbotron text-center">
    <h1>List</h1>
    <p>{{ tagline }}</p>
</div>
<div class="row">
    <div class="col col-xs-12">
        <div class="well">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="itemname">New item name</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" id="itemname" placeholder="item name" ng-model="itemName">
                    </div>
                </div>
            </form>
            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="create(itemName)">Create</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="pull-right col col-lg-8 col-sm-6 col-xs-12" ui-view>
    </div>
    <div class="col col-lg-4 col-sm-6 col-xs-12" ng-repeat="element in elements">
        <div class="well" >
            <p class="lead" ng-bind="element.name"></p>
            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="go('list/'+element._id)">Detail</button>
            <button type="button" class="btn btn-link btn-sm pull-right" ng-click="delete(element._id)">Delete</button>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
